@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Mochiy+Pop+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Mochiy Pop One', sans-serif;
    margin-bottom: 7px;
    font-size: large;
}

body {
    background-color: #f3ddf6;
    padding: 10px 10px;
}

.notepad {
    background-color: #edf2fb;
    height: 120px;
    font-size: 0.9rem;
    margin-bottom: 5px;
    resize: vertical;
    padding: 5px;
    outline: none;
}

.savedText {
    font-style: italic;
}