.background {
  height: 100vh;
  margin: 0;
}

.overlay {
  height: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.options {
  background-color: rgb(255, 255, 255);
  padding: 20px 40px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.options h1 {
  text-align: center;
}

.options button {
  font-size: 1.2em;
}

.options p {
  font-size: 1.2rem;
}

.options label {
  font-size: 1.2em;
}

.darkmode-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.darkmode-toggle {
  margin-left: 3px;
}

#changeSaved {
  margin-top: 10px;
  font-size: 1em;
  height: 5px;
  font-style: italic;
}
